@charset "UTF-8";
body,
html,
.capa {
    height: 100%;
}

body {
    background: url('../img/SeaBlue.jpg');
    background-attachment: cover;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.capa {
    background: rgba(0, 0, 0, 0.5);
}


/*Barra de navegação*/

.img-logo {
    height: 30px;
    width: 70px;
    display: block;
    background: url('../img/logo.svg') no-repeat;
    background-size: contain;
    color: transparent;
}

.rod {
    background: black;
    color: white;
}

.img-footer {
    height: 40px;
    width: 132px;
    margin-top: 10px;
    display: inline-block;
    background: url('imagens/logo.png') no-repeat;
    background-size: contain;
    color: transparent;
}

nav.navbar-transparente {
    padding: 10px 0px;
    background: rgba(0, 0, 0, 0);
    border: none;
}

.navbar-brand {
    padding: 15px 15px;
}

.navbar-inverse .navbar-nav>li>a,
footer .nav a {
    color: white;
}

.navbar-inverse .navbar-nav>li>a:hover,
footer .nav a:hover {
    color: #0e2ac9;
    background: none;
}

.voltar-ao-topo {
    border: solid rgb(155, 240, 225);
    position: fixed;
    bottom: 1em;
    right: 1em;
    color: rgb(155, 240, 225);
    padding: 1em;
    display: none;
    text-align: center;
    padding: .1em .2em .1em .2em;
    outline: none;
    z-index: 1;
}

.voltar-ao-topo:hover {
    background-color: rgba(0, 0, 0, 0.2);
}


/*Imagem da capa*/

.capa {
    display: table;
    width: 100%;
}

.texto-capa {
    text-align: center;
    color: white;
    display: table-cell;
    vertical-align: middle;
    font-family: Montserrat;
    font-size: 36px;
}


/*botão*/

.btn-custom {
    color: white;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
}

.btn-branco {
    border: 2px solid rgb(41, 52, 155);
}

.btn-branco:hover {
    background: rgb(41, 52, 155);
    color: black;
}

.noPadding {
    padding: 0 !important;
}

.details {
    background-color: #fff;
    text-align: center;
    height: 700px;
    width: 100%;
    font-size: 20px;
}

.conf {
    background-color: #d3d3d3;
    background-size: cover;
    text-align: left;
    font-size: 20px;
    height: 700px;
}

.confdev {
    background-color: #d3d3d3;
    text-align: center;
    height: 700px;
}

.content {
    background-color: #fff;
    background-size: cover;
    text-align: right;
    height: 700px;
    font-size: 20px;
}

.contentdev {
    background: #fff;
    text-align: center;
    height: 700px;
}

.blanc {
    float: right;
    margin: 50px 170px auto;
}

.gradient {
    float: left;
    margin: 80px 170px auto;
}

.lit {
    float: center;
    margin: 80px 170px auto;
}

.footer {
    background: #323d47;
    color: #ebebeb;
    padding: 20px 10px auto;
    height: 150px;
    text-align: center;
    font-weight: 100px;
}

.footer {
    background: #323d47;
    color: #ebebeb;
    padding: 20px 0;
    text-align: center;
    font-weight: 100;
}


/* Estilo dos icons redondos*/

.circle-icons {
    padding: 12px;
    font-size: 16px;
    width: 42px;
    margin: 12px 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 80%;
    background: #1a1a1a;
    color: #fff;
}

.circle-icons:hover {
    background: #3f71e6;
    text-decoration: none;
    color: #fff;
    opacity: 0.9;
    transition: 1s;
}


/*Membros*/

.circle img {
    border-radius: 100%;
    height: 200px;
    object-fit: cover;
    width: 200px;
    padding: 25px;
    margin: 1px 1px 0 0;
    -webkit-filter: grayscale(100%);
}

.row {
    text-align: center;
}

.circle img:hover {
    -webkit-filter: grayscale(0%);
    transition: 1s;
}

div.circle {
    width: 200px;
    text-align: center;
    display: inline-block;
}

h2 {
    color: #fff;
    text-align: center;
}

p.text {
    color: #fff;
    font-size: 20px;
}